@import "../../index";

.section-last {
  text-align: center;
  height: 100px;

  .section-header {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

    h1 {
      display: inline-block;
      vertical-align: baseline;
      font-size: 2rem;
      font-weight: 500;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      padding: 0 20px;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 10vw;
        position: absolute;
        top: 0.73em;
        border-top: 5px solid #0a0a0a;
      }

      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }

    p {
      font-size: 1.1em;
      width: 100%;
      text-align: center;
      margin: 0 0 3em 0;
      font-weight: 200;
      color: #0a0a0a;
    }
  }
}

.section {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 4em 0;

  .section-header {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

    h1 {
      display: inline-block;
      vertical-align: baseline;
      font-size: 2rem;
      font-weight: 500;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      padding: 0 20px;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 10vw;
        position: absolute;
        top: 0.73em;
        border-top: 5px solid #0a0a0a;
      }

      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }

    p {
      font-size: 1.1em;
      width: 100%;
      text-align: center;
      margin: 0 0 3em 0;
      font-weight: 200;
      color: #0a0a0a;
    }
  }
}

.section-one {
  @extend .section;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  background: url("../../res/assets/images/backgrounds/somegon-wave-background.png")
    center cover no-repeat;

  h1 {
    font-size: 4rem;
    font-weight: 200;
    padding: 12px;
    margin: 0 0 0 0;
    animation: fadeInFromTop $animation-duration calc(#{$animation-delay} * 1)
      both;
  }

  h6 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 12px;
    margin: 0;
    animation: fadeInFromTop $animation-duration calc(#{$animation-delay} * 1.5)
      both;
  }
}

.section-two {
  @extend .section;
  text-align: center;

  .section-header {
    h1 {
      margin-bottom: 32px;
      animation: fadeInFromTop $animation-duration
        calc(#{$animation-delay} * 2.5) both;
    }

    p {
      animation: fadeInFromTop $animation-duration
        calc(#{$animation-delay} * 2.7) both;
    }
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    animation: fadeInFromTop $animation-duration calc(#{$animation-delay} * 3)
      both;
  }

  .service-card {
    height: 25vh;
    min-height: 175px;
    width: 30%;
    margin: 12px;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1.7fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #eee, -3px -3px 5px #fff;
    transition: $animation-duration, display $animation-duration 100ms;
    padding: 0 12px;

    .service-icon {
      font-size: 3.4em;
      color: #0a0a0a;
      margin-bottom: 12px;
    }

    .service-name {
      width: 100%;
      margin-bottom: 12px;
      text-align: center;
      font-size: 1.2em;
      color: #0a0a0a;
    }

    .service-description {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .services-container {
      grid-template-columns: 1fr;
    }
    .service-card {
      width: 100%;

      .service-icon {
        font-size: 4em;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .services-container {
      grid-template-columns: 1fr 1fr;
    }
    .service-card {
      width: 100%;

      .service-icon {
        font-size: 3.5em;
      }
    }
  }
}

.section-three {
  @extend .section;
  text-align: center;

  .section-header {
    h1 {
      margin-bottom: 32px;
      animation: fadeInFromTop $animation-duration
        calc(#{$animation-delay} * 3.5) both;
    }
  }

  .customers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    animation: fadeInFromTop $animation-duration calc(#{$animation-delay} * 4)
      both;
  }

  .customer-card {
    height: 25vh;
    min-height: 175px;
    border-radius: 2px;
    width: 40%;
    flex-grow: 1;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: $animation-duration, display $animation-duration 100ms;
    border-radius: 2px;
    padding: 12px;
    box-shadow: 3px 3px 5px #eee, -3px -3px 5px #fff;

    .customer-logo {
      height: 40%;
      width: auto;
      flex-grow: 2;
      object-fit: contain;
    }

    .customer-name {
      width: 100%;
      flex-grow: 1;
      text-align: center;
      font-size: 1.2em;
      color: #0a0a0a;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    .customers-container {
      grid-template-columns: 1fr;
    }
    .customer-card {
      width: 100%;

      .customer-logo {
        font-size: 4em;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .customers-container {
      grid-template-columns: 1fr 1fr;
    }
    .customer-card {
      width: 100%;

      .customer-logo {
        font-size: 3.5em;
      }
    }
  }
}

.section-four {
  @extend .section;
  text-align: center;

  .section-header {
    h1 {
      margin-bottom: 32px;
      animation: fadeInFromTop $animation-duration
        calc(#{$animation-delay} * 3.5) both;
    }
  }

  .partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    animation: fadeInFromTop $animation-duration calc(#{$animation-delay} * 4)
      both;
  }

  .partner-card {
    height: 25vh;
    min-height: 175px;
    border-radius: 2px;
    width: 40%;
    flex-grow: 1;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: $animation-duration, display $animation-duration 100ms;
    border-radius: 2px;
    padding: 12px;
    box-shadow: 3px 3px 5px #eee, -3px -3px 5px #fff;

    .partner-logo {
      height: 40%;
      width: auto;
      flex-grow: 2;
      object-fit: contain;
    }

    .partner-name {
      width: 100%;
      flex-grow: 1;
      text-align: center;
      font-size: 1.2em;
      color: #0a0a0a;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    .partners-container {
      grid-template-columns: 1fr;
    }

    .partner-card {
      width: 100%;

      .partner-logo {
        font-size: 4em;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    .partners-container {
      grid-template-columns: 1fr 1fr;
    }
    .partner-card {
      width: 100%;

      .partner-logo {
        font-size: 3.5em;
      }
    }
  }
}

.section-five {
  @extend .section-last;
}
