@import "../../index";

.navbar {
  height: 5vh;
  min-height: 48px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeInFromTop $animation-duration both;

  .logo-container {
    cursor: pointer;
    height: 100%;
    width: auto;

    .logo {
      height: 100%;
      width: 64px;
      object-fit: contain;
    }
  }

  .menu-icon-container {
    height: 80%;
    width: 38px;
    align-items: space-around;
    flex-direction: column;
    justify-content: center;
    display: none;

    .bar {
      width: 100%;
      margin: 4px 0;
      height: 10%;
      background-color: #0a0a0a;
    }
  }

  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: bold;

    .nav-button {
      margin: 0 10px;
      cursor: pointer;
      font-weight: 100;
      transition: $animation-duration;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .menu-icon-container {
      display: flex;
    }
    .navigation-container {
      display: none;
    }
  }
}
