@import "../../index";

.navbar {
  height: 68px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeInFromTop $animation-duration both;
  z-index: 12000;

  .logo {
    height: 80%;
    width: 28px;
    object-fit: contain;
    cursor: pointer;
  }

  .menu-icon-container {
    cursor: pointer;
    height: 80%;
    width: 38px;
    align-items: space-around;
    flex-direction: column;
    justify-content: center;
    display: none;

    .menu-icon {
      font-size: 2em;
    }
  }

  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: bold;

    .nav-button {
      margin: 0 10px;
      cursor: pointer;
      font-weight: 300;
      letter-spacing: 1px;
      transition: $animation-duration;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .logo {
      height: 80%;
      width: 28px;
    }

    .menu-icon-container {
      display: flex;
    }
    .navigation-container {
      display: none;
    }
  }
}
