.navbar {
  height: 5vh;
  min-height: 48px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    width: 48px;

    .logo {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: bold;

    .nav-button {
      margin: 0 12px;
      cursor: pointer;
    }
  }
}
