$animation-duration: 500ms;
$animation-delay: 250ms;

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Playfair Display", serif;
}
