@import "../../index";

.career-root {
  height: 100vh;
  max-width: 100%;
  padding-top: 68px;

  .container {
    width: 100%;

    .job-title {
      margin: 20px 0;
      font-size: 1.4em;
      font-weight: 800;
      word-wrap: break-word;
      animation: fadeInFromTop $animation-duration 100ms both;
    }

    .job-preface {
      margin: 20px 0;
      font-weight: 300;
      font-size: 1.4em;
      width: 100%;
      animation: fadeInFromTop $animation-duration 300ms both;
    }

    .job-requirements {
      font-size: 1em;
      margin: 20px 0;
      width: 100%;
      line-height: 2em;
      animation: fadeInFromTop $animation-duration 500ms both;

      ul {
        padding: 0 20px;

        li {
          font-size: 1em;
          font-weight: 100;
        }
      }
    }
  }
}
